.slika{
    width:800vw;
    height:780vw;
    object-fit: cover;
}
.opacity-div{
    background-color: black;
    opacity:0.8;
    width: 800vw;
    height: 300vw;
    position: absolute;
    margin-top: 480vw;  
}
.baner{
    position: absolute;
    margin-top: 660vw;
}
.text-slike{
    color:white;
    /* OVDE MOŽEŠ DA MENJAŠ VELIČINU SLOVA AKO JE PREVELIKA */
    font-size: 30pt;
    /* */
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-top: 470vw;
    width: 800vw;
    padding: 25vw;
}
